<h2>Projects</h2>
<p>Here are some some projects I've worked on either under the supervision of a professor or for a course</p>
{% for item in site.data.projects %}
{% if item.misc_project == false %}
<div>
    <div class="project-panel">
        <a href="{{item.link}}">
            <h4>{{item.title}}</h4>
            <p class="project-description">{{item.description}}
            {% if item.note %}
            (<i>{{item.note}}</i>)
            {% endif %} </p>
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
