.sidebar {
    background-color: #c0dfed;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0em;
    left: 0em;
}

.content {
    height:300vh;
    padding-left: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.img-circle {
    border-radius: 50%;
    width: 80%;
    margin: auto;
    display: inline-block;
    display: block;
    margin-top: 10%;
}

.animate-area	{ 
	background-image: url('./img/bg_clouds.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}


.url-list {
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top: 10px;
}

.url-list li {
    display: block;
    margin:0;
    padding:0;
}