body {
    background-color: #c0dfed;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, .url-list li {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

.content {
    height:150vh;
    padding-left: 30px;
    background-color: white;
    position: relative;
    padding-top: 2%;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.img-circle {
    border-radius: 50%;
    width: 70%;
    margin: auto;
    display: inline-block;
    display: block;
    margin-top: 7.5%;
}

.align-left {
    top: 0em;
    left: 0em;
}

.align-right {
    position: fixed;
    top: 0em;
    right: 0em;
}

.animate-area	{
    color: white;
    height: 100vh;
    position: fixed;

	background-image: url('./img/bg_clouds.png');
	background-position: top right;
	background-repeat: repeat-x;

	animation: animatedBackground 45s linear infinite;
}


@keyframes animatedBackground {
	from { background-position: 0px 0; }
	to { background-position: -2247px 0; }
}

.url-list {
    text-align: center;
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top: 5%;
}

.url-list li {
    display: block;
    margin:0;
    padding:0;
    font-size: 140%;
}

.project-panel {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    display: block;
    box-shadow: 5px 5px 5px lightgrey;
    font-size: 10pt;
    margin-top: 3%;
    margin-right: 3%;
    padding: 1.5%;
}

.project-panel a, a:hover, a:visited, a:active {
    color:inherit;
    text-decoration: none;
}

.project-panel h4 {
    padding: 0;
    margin: 0;
}

.project-panel p {
    padding: 0;
    margin: 0;
}