.sidebar {
    background-color: #2F4F4F;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0em;
    left: 0em;
}

.content {
    height:300vh;
    padding-left: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.img-circle {
    border-radius: 25%;
    width: 80%;
    margin: auto;
    display: inline-block;
    display: block;
    margin-top: 10%;
}